//  Базовые стили

html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
	background-color: $bg-color;
  color: $text-color;
	font-family: $font-family;
  font-weight: $font-weight;
	font-size: $font-size;
	line-height: $line-height;
}

a {
  text-decoration: none;

  // &:hover,
  // &:active {
  // }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

section {
  position: relative;
}

.page-container {
  max-width: $container-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: $container-padding;
  padding-right: $container-padding;
}

.icon {
  display: inline-block;
}

.main-title {
  color: $text-color4;
  font-family: $font-family--montserrat;
  font-size: $font-size-h1;
  font-weight: $font-weight;
  letter-spacing: -0.07px;
  text-transform: uppercase;
}

.section-title {
  color: $text-color;
  font-family: $font-family--montserrat;
  font-size: $font-size-h2;
  font-weight: $font-weight;
  letter-spacing: -0.06px;
  text-transform: uppercase;
}

.section-paragraph {
  color: $text-color2;
  font-family: $font-family--openSans;
  font-size: $font-size2;
  font-weight: $font-weight;
  letter-spacing: -0.02px;
}

.sfa {
  color: #4d5363;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.02px;
  text-transform: uppercase;
}
